// ================================
// Symbols
// ================================

@font-face {
	font-family: "symbols";
	src: url('../symbols\/\symbols.eot');
	src: url('../symbols\/\symbols.eot?#iefix') format('eot'),
		url('../symbols\/\symbols.woff') format('woff'),
		url('../symbols\/\symbols.ttf') format('truetype'),
		url('../symbols\/\symbols.svg#symbols') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Symbols placeholder to extend inside the mixin.
%symbols {
	font-family: "symbols";
	width: 1em;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	line-height: 1em;
	speak: none;
}

// Styles applied to the .symbol class when adding symbols to the markup.
.symbol:before {
	font-family: "symbols";
	width: 1em;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	line-height: 1em;
	speak: none;
}

// Mixin to add in your own symbol through the css.
// The mixin only works with :pseudo
@mixin symbols($symbol: false) {
	@extend %symbols;

	@if $symbol == "book" {
		content: '\E001';
	}
	@if $symbol == "briefcase" {
		content: '\E002';
	}
}

// Individual CSS styles for when you call by the class name in markup.
.s-book:before { content: "\E001" }
.s-briefcase:before { content: "\E002" }