// ================================
// Browse Happy
// ================================

// Add the following right after your body class!

// <!--[if IE 8]>
//  <div class="browse-happy">
//    <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
//  </div>
// <![endif]-->

.browse-happy {
  background: rgba(#777, .97);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 800;

  p {
    @extend %abs-center;
    display: block;
    width: 800px;
    height: 200px;
    font-size: 2em;
    line-height: 1.3em;
    text-align: center;
    color: #fff;

    a {
      display: inline-block;
      color: #59b6fd;
      line-height: 1em;
      border-bottom: 1px solid rgba(#59b6fd, .2);

      &:hover {
        color: rgba(#59b6fd, .8);
      }
    }
  }
}